<example-text>
    <p>Next Player: { state.value }</p>
    <script>
    export default {
        onMounted() {
            this.update({
                value: 'x'
            });
            this.appState.nextPlayer = this;
        }
    }
  </script>
</example-text>